<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sluman.imtranslate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_search_white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".ConversationListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversationDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_conversation_detail"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sluman.imtranslate.ConversationListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ConversationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sluman.imtranslate.ConversationListActivity" />
        </activity>

        <service
            android:name=".data.FirebaseIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".GoogleSignInActivity"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sluman.imtranslate.ConversationListActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sluman.imtranslate.ConversationListActivity" />
        </activity>
        <activity
            android:name=".LanguagesActivity"
            android:label="@string/title_activity_languages"
            android:parentActivityName=".ConversationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.sluman.imtranslate.ConversationListActivity" />
        </activity>

        <service android:name=".data.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".data.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".data.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <action android:name="org.sluman.imtranslate.data.action.ACTION_DATA_FETCHED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <service
            android:name=".data.FirebaseWidgetService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>